<!--<form>
  <div><h2>Escribe la direccion de correo electronico con la que te registraste y te enviaremos un email ocn el que podrás resstablecer tu contraseña</h2></div>
  <div class="">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <p><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"></p>
    
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <p><input type="password" class="form-control" id="exampleInputPassword1"></p>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->

<div class="login">

  <span class="login-counter">59 segundos para que la página se actualize </span>
  <img src="../../../assets/img/logo-synop.png" class="logo-login">
  <form [formGroup]="fgroup" (ngSubmit)="onFormSubmit()" class="login-form">
    <div>
      <div class="ig-form-column login-theme">
        <mat-form-field class="login-input-wrapper" floatLabel="never" hideRequiredMarker>
          <div class="pswd-login">
            <i class="icon-login"></i>
            <input id="usuario" matInput color="accent" placeholder="Usuario" class="ig-input" required formControlName="user" />
          </div>
          <div class="ig-error-wrapper" *ngIf="formGroup.user.invalid && (formGroup.user.dirty || formGroup.user.touched)">
            <label *ngIf="formGroup.user.errors.required" class="ig-error">
              Ingrese el usuario.
            </label>
            <!-- <label *ngIf="formGroup.user.errors.minlength" class="ig-error">
              Mínimo 5 caracteres.
              <br>
            </label>
            <label *ngIf="formGroup.user.errors.maxlength" class="ig-error">
              Máximo 20 caracteres.
              <br>
            </label>
            <label *ngIf="formGroup.user.errors.pattern" class="ig-error">
              Solo letras.
            </label> -->
          </div>
        </mat-form-field>
      </div>
      <div class="ig-form-column login-theme">
        <mat-form-field class="login-input-wrapper" floatLabel="never" hideRequiredMarker>
          <div class="pswd-login">
            <i class="icon-pswd"></i>
            <input required id="pass" matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'" formControlName="pass">
          </div>
          <div class="ig-error-wrapper" *ngIf="formGroup.pass.invalid && (formGroup.pass.dirty || formGroup.pass.touched)">
            <label *ngIf="formGroup.pass.errors.required" class="ig-error">
              Ingrese la contraseña.
            </label>
          </div>
        </mat-form-field>
      </div>
      <span *ngIf="errors['service']" class="login-error-general ig-error" id="demo">
        {{ errors['message'] }}
      </span>
      <button type="submit" mat-raised-button class="ig-button login-button">INGRESAR</button>
    </div>
  </form>
  <div class="recover-password">
   <a routerLink="/recover-password" >¿Olvidaste tu contraseña?</a>
  </div>
  <div class="login-footer">Copyright todos los derechos reservados 2020 by synopsis </div>
</div>