.ig-dashboard-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ig-dashboard-list-icons {
  display: flex;
}

.ig-dashboard-item-icon {
  margin-right: 5px;
}