@import './../../../sass/vars.scss';

.ig-form-column{
  display: flex;
  justify-content: space-between;
  margin:15px 0;
}
.ig-input-wrapper {
  // margin-right: 50px;
  width: 210px;
  margin-top: 1%
}

.ig-create-user-section {
  margin: 20px 0;
  padding: 20px;
  background-color: white;
  border: 1px solid $color-border; 
  box-shadow: 0 1px 2px 0 $color-border
}

.ig-create-user-subtitle {
  font-size: 22px !important;
  margin: 0;
  font-weight: 400;
}

.section-main {
  padding: 24px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid $color-border; 
  box-shadow: 0 1px 2px 0 $color-border
}

.section-main .ig-create-user-subtitle,
.mat-expanded .ig-create-user-subtitle {
  font-size: 24px;
  position: relative;
  padding-bottom: 3px;
}

.section-main .ig-create-user-subtitle::after,
.mat-expanded .ig-create-user-subtitle::after {
  content: '';
  width: 32px;
  height: 2px;
  background-color: #113c6b;
  position: absolute;
  left: 0;
  bottom: 0;
}

.ig-button-save,
.ig-button-excluded {
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: none;
  background: #2e4558  !important;
  color: #FFF !important;

}

.ig-button-cancel
{
  border-radius: 5px;
  border: 2px solid $color-border;  
  color: $color-font;
  background-color: #fff;
  box-shadow: none;
}

.ig-input-excluded {
  width: 100%;
}

.ig-textarea-excluded {
  width: 100%;
}

.img-title{
  width: 45px;
}

.table-icon{
  width: 1.7em;
  margin-right: 15px;
}

.mat-table{
  width: 600px;
}

.mat-column-action { width: 10% !important;}

@media screen and (max-width: 1024px) {
  .ig-input-wrapper {
    margin-left: 0;
    width: 80%;
    margin-top: 4%;
    margin-bottom: 10px
  }
}